
footer {
    width: 1000px;
    margin: 0 auto !important;
    color: #fff;
    box-sizing: border-box;
    font-size:12px;
}

.footer-text {
    background: #55443D;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}


.footer-text p {
    margin: 0;
    font-size: 12px;
}

footer a {
    color: #fff;
}