
footer {
    width: 1000px;
    margin: 0 auto !important;
    background: #1E7D47;
    color: #fff;
    padding:0 20px;
    display: flex;
    box-sizing: border-box;
    font-size:12px;
}

footer a {
    color: #fff;
}