
footer {
    width: 1000px;
    margin: 0 auto !important;
    color: #fff;
    box-sizing: border-box;
    font-size:12px;
}





.footer-text {
    background: #55443D;
    padding: 20px;
    font-size: 14px;
}


.footer-text p {
    margin: 0;
}

footer a {
    color: #fff;
}