
main {
    clear: both;
    width: 900px;
    margin: 0 auto;
}


main .create-branch h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;

}

main input[type="file"] {
    display: none;
}

main .custom-file-upload {
    border: 1px solid #ccc;
    display: block;
    padding: 6px 12px;
    cursor: pointer;
    width: 25%; height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
}

main .custom-file-upload:hover {
    background: #f3f3f3;
}

main .create-titles {
    padding: 0; margin-top: 10px;
    display: block;
    width: 100%;
}

main .inputHolder {
    float: left;
    display: block;
    width: 30%;
    padding: 0 10%;
    height: auto;
    margin-bottom: 16px;
}

main .inputHolder label {
    position: relative;
    top: 7.5px;
    left: 7.5px;
    float: left;
    display: block;
    width: auto;
    height: 15px;
    padding: 0 5px;
    color: #4a4a4a;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 14px;
    background-color: #fff;
    border-radius: 100%;
}

main .inputHolder input, main .inputHolder textarea {
    float: left;
    display: block;
    width: 100%;
    height: 37px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #000;
    font-weight: 400;
    padding: 0 13px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #fefefe;
    outline: 0;
    -webkit-transition: border-color .5s ease;
    -moz-transition: border-color .5s ease;
    -ms-transition: border-color .5s ease;
    -o-transition: border-color .5s ease;
    transition: border-color .5s ease;
}

main .inputHolder input:focus, main .inputHolder textarea:focus, main #labelForBranchImage:focus {
    border: 1px solid #1E7D47;
}

main #intro-holder {
    width: 100%;
    padding: 0;

}

main #create-intro {
    height: 200px; max-width: 100%;
    padding: 13px;
    box-sizing: border-box;
}

main .branchTitle input:focus, main .subranchTitle input:focus {
    border: 1px solid #aaa;
}

main .create-submit {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    height: 50px;
    font-family: Tahoma;
    background: #fff;
    margin: 10px auto;
    display: block;
    font-size: 14px;
}

main .create-submit:hover {
    cursor: pointer;
    background: #f3f3f3;
}